:root {
    --ver: 3rem;
    --hor: 1.5rem;
}

.comp {
    padding: var(--ver) var(--hor);;
}

.navbar-container {
    min-height: 15dvh;
}
.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.06);
}

.hero-page1 {
    min-height: 85dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.hero__title {
    line-height: 3.3rem !important;
}

.footer-top {
    padding: var(--ver) var(--hor);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.06);
}

.cookieschoice {
    width: 100%;
    background-color: white;
    max-width: 1300px;
    margin: auto;
}
.cookieschoice__container {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.cyberdata__item {
    width: 400px;
}

.audit__textbox {
    border-left: 5px solid var(--clr-pmr);
    padding: var(--std);
}